<h2>Charts for <%=date%></h2>

<h3>Temperatures</h3>
<div id="temp_chart" class='charts'></div>
<h3>Heater Activity</h3>
<div id="heating_chart" class='charts'></div>
<script type="text/javascript">
    g1 = new Dygraph(
            document.getElementById("temp_chart"),
            "/charts/csv/temp/<%=date%>"
    );
    g2 = new Dygraph(
            document.getElementById("heating_chart"),
            "/charts/csv/heater/<%=date%>"
    );
</script>