<h2>Chart for <%=date%></h2>

<div id="chart_div"></div>
<script type="text/javascript">
    g3 = new Dygraph(
            document.getElementById("chart_div"),
            "/charts/csv/<%=date%>"
    );
</script>