<h2>Charts for <%=date%></h2>

<h3>Temperatures</h3>
<div id="brew_chart" class='chartsx'></div>

<script type="text/javascript">
  var BREW = BREW || {};

  BREW.chartDate = '<%=date%>';
</script>

<script type="text/javascript"   src="/js/brewchart.js"></script>