<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>BrewFridge</title>

  <script language="javascript" type="text/javascript" src='http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.js'></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <link rel="stylesheet" href="/sass/reset.css" type="text/css"/>
  <link rel="stylesheet" href="/css/brew.css" type="text/css"/>
  <link rel="stylesheet" href="/sass/sass.css" type="text/css"/>
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=0.1, maximum-scale=2.0, user-scalable=yes">
</head>
<body>

<div class="container">
  <div class="central_small">
    <div class="heading">
      <h1>BrewFridge</h1>
    </div>
    <div class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/manage">Manage</a></li>
        <li><a href="/charts">Charts</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <%= yield %>
  </div>
</div>
</body>

</html>
